@media screen and (max-width: 1200px) {
    .data {
        &__info {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .enter {
        &__image {
            width: 490px
        }
        &__infoblock {
            &__title {
                font-size: 27px;
            }
            &__subtitle {
                font-size: 16px;
            }
        }
    }
    .data {
        &__info {
            font-size: 17px;
        }
    }
    .footer {
        &__text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 576px) {
    .enter {
        height: 400px;
        &__image {
            width: 320px;
        }
        &__infoblock {
            &__title {
                font-size: 20px;
            }
            &__subtitle {
                font-size: 14px;
            }
        }

    }
    .data {
        &__info {
            font-size: 13px;
        }
    }
    .footer {
        .wrapper {
            width: 100%;
        }
        &__text {
            font-size: 12px;
        }
    }
}
