<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="icon" href="../../../icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <section class="enter section__animation">
        <div class="wrapper">
            <div class="enter__image">
                <img src="../images/shield.png" alt="">
            </div>
            <div class="enter__infoblock">
                <div class="enter__infoblock__title text">МОДУЛЬ:<span></span></div>
                <div class="enter__infoblock__subtitle text">РАЗДЕЛ: ОБЩАЯ БЕЗОПАСНОСТЬ</div>
            </div>
        </div>
    </section>
    <section class="data">
        <div class="wrapper">
            <div class="data__info text">
                Lorem<span> ipsum.</span>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__text text">SECURITY LABS / ARMENIAN SECURITY</div>
        </div>
    </footer>
</body>
</html>