@media screen and (max-width: 1200px) {
    .data {
        &__info {
            font-size: 18px;
        }
    }
    .modules {
        &__blocks {
            &-block {
                &-item {
                    font-size: 16px!important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .enter {
        &__image {
            width: 490px
        }
        &__title {
            font-size: 27px;
        }
    }
    .data {
        &__info {
            font-size: 17px;
        }
    }
    .modules {
        &__blocks {
            flex-direction: column;
            &-block {
                width: unset!important;
                margin: 10px 0;
                &-item {
                    font-size: 15px!important;
                }
            }
        }
    }
    .footer {
        .wrapper {
            width: 100%;
        }
        &__text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 576px) {
    .enter {
        height: 400px;
        &__image {
            width: 320px;
        }
        &__title {
            font-size: 15px;
        }

    }
    .data {
        &__info {
            font-size: 13px;
        }
    }
    .modules {
        &__blocks {
            &-block {
                &-item {
                    font-size: 15px!important;
                }
            }
        }
    }
    .footer {
        .wrapper {
            width: 100%;
        }
        &__text {
            font-size: 12px;
        }
    }
}