@charset "UTF-8";
@keyframes section_hover {
  0% {
    opacity: 1; /* Начальное состояние: полностью видимый */
  }
  10% {
    opacity: 0.98;
  }
  20% {
    opacity: 0.98;
  }
  25% {
    opacity: 1; /* Конец анимации: снова полностью видимый */
  }
}
@font-face {
  font-family: "Robotic";
  src: url("overpass_mono/OverpassMono-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Robotic";
  src: url("overpass_mono/OverpassMono-Bold.ttf");
  font-weight: bold;
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

br {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  margin: 0;
}

.text {
  color: white;
  font-family: "Robotic", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.text::-moz-selection {
  color: rgb(29, 29, 29);
  background-color: rgb(99, 99, 99);
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.text::selection {
  color: rgb(29, 29, 29);
  background-color: rgb(99, 99, 99);
  transition: background-color 0.5s ease;
}
.text::-moz-selection::content {
  font-weight: bold;
}
.text::selection::content {
  font-weight: bold;
}

.link {
  color: rgb(160, 227, 236);
  text-decoration: none;
  transition: color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.link:hover {
  color: white;
  text-decoration: underline;
}
.link::-moz-selection {
  background-color: rgb(99, 99, 99);
}
.link::selection {
  background-color: rgb(99, 99, 99);
}

.section__animation:hover {
  animation-name: section_hover;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

section, footer {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.wrapper {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter {
  background-color: rgb(15, 15, 15);
}
.enter__image {
  width: 600px;
  position: absolute;
  opacity: 0.05;
}
.enter__image img {
  width: 100%;
  height: 100%;
}
.enter__title {
  font-size: 30px;
  z-index: 10;
}

.modules {
  background-color: rgb(24, 24, 24);
  padding: 100px 0;
  height: 100%;
}
.modules .wrapper {
  height: 100%;
  flex-direction: column;
}
.modules .modules__blocks {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.modules .modules__blocks-block {
  width: 40%;
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s, padding 0.5s ease-in-out;
  cursor: pointer;
}
.modules .modules__blocks-block-item {
  margin-top: 4px;
  font-size: 19px;
}

.data {
  height: 100%;
  background-color: rgb(24, 24, 24);
  padding: 100px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.data .wrapper {
  height: 80%;
}
.data__info span {
  font-weight: bold;
}

.footer {
  height: 150px;
  background-color: rgb(15, 15, 15);
}
.footer .wrapper {
  width: 600px;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .data__info {
    font-size: 18px;
  }
  .modules__blocks-block-item {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .enter__image {
    width: 490px;
  }
  .enter__title {
    font-size: 27px;
  }
  .data__info {
    font-size: 17px;
  }
  .modules__blocks {
    flex-direction: column;
  }
  .modules__blocks-block {
    width: unset !important;
    margin: 10px 0;
  }
  .modules__blocks-block-item {
    font-size: 15px !important;
  }
  .footer .wrapper {
    width: 100%;
  }
  .footer__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .enter {
    height: 400px;
  }
  .enter__image {
    width: 320px;
  }
  .enter__title {
    font-size: 15px;
  }
  .data__info {
    font-size: 13px;
  }
  .modules__blocks-block-item {
    font-size: 13px !important;
  }
  .footer .wrapper {
    width: 100%;
  }
  .footer__text {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */